<!DOCTYPE html>
<html ng-app="conheca">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Conheça o Recife</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="app/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="app/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="plugins/morris/morris.css">
  <!-- jvectormap -->
  <link rel="stylesheet" href="plugins/jvectormap/jquery-jvectormap-1.2.2.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="plugins/datepicker/datepicker3.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <link rel="stylesheet" href="app/css/conhecaRecife.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="index">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="#/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">Conheça</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">
        Conheça o Recife
      </span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

     
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      
      <ul class="sidebar-menu">
        <li class="header">MENU PRINCIPAL</li>
        <li ng-click="redirect('#/')"><a href="#/" class="sidebar-toggle" data-toggle="offcanvas"><i class="fa fa-home"></i> <span>Home</span></a></li>
        <li ng-click="redirect('#/museus')"><a href="#/museus" class="sidebar-toggle" data-toggle="offcanvas"><i class="fa fa-bank"></i> <span>Museus</span></a></li>
        <li ng-click="redirect('#/shoppings')"><a href="#/shoppings" class="sidebar-toggle" data-toggle="offcanvas"><i class="fa fa-shopping-bag"></i> <span>Shoppings</span></a></li>
        <li ng-click="redirect('#/mercados')"><a href="#/mercados" class="sidebar-toggle" data-toggle="offcanvas"><i class="fa fa-shopping-cart"></i> <span>Mercados</span></a></li>
        <li ng-click="redirect('#/feiras')"><a href="#/feiras" class="sidebar-toggle" data-toggle="offcanvas"><i class="fa fa-shopping-basket"></i> <span>Feiras</span></a></li>
        <li ng-click="redirect('#/teatros')"><a href="#/teatros" class="sidebar-toggle" data-toggle="offcanvas"><i class="fa fa-building"></i> <span>Teatros</span></a></li>
        <li ng-click="redirect('#/pontes')"><a href="#/pontes" class="sidebar-toggle" data-toggle="offcanvas"><i class="fa fa-map"></i> <span>Pontes</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content" ng-view>
      

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="app/libs/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>

<!-- AngularJS -->
<script src="app/libs/angular.min.js"></script>
<script src="app/libs/angular-simple-logger.js"></script>
<script src="app/libs/ng-route.js"></script>
<script src="app/libs/angular-google-maps.min.js"></script>
<script src="app/libs/lodash.min.js"></script>
<script src="app/libs/angular-simple-logger.js"></script>

<!-- Controllers -->
<script src="app/controllers/app.js"></script>
<script src="app/services/services.js"></script>
<script src="app/controllers/controller-index.js"></script>
<script src="app/controllers/controller-museus.js"></script>
<script src="app/controllers/controller-shoppings.js"></script>
<script src="app/controllers/controller-mercados.js"></script>
<script src="app/controllers/controller-feiras.js"></script>
<script src="app/controllers/controller-teatros.js"></script>
<script src="app/controllers/controller-pontes.js"></script>


<!-- Bootstrap 3.3.6 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="app/libs/raphael-min.js"></script>
<script src="plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="app/libs/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="dist/js/demo.js"></script>
</body>
</html>
