<style type="text/css">
	p {
		font-size: 12px;
	}

	.info-box:hover {
		background-color: #4B77BE;
		color: white;
	}
</style>
<div class="info-box" ng-click="redirect('#/museus')">
	<span class="info-box-icon bg-red"><i class="fa fa-bank"></i></span>
	<div class="info-box-content">
	  <span class="info-box-text"><b>Museus</b></span>
	  <p>Museus da cidade do Recife, com sua descrição e localização.</p>
	</div>
</div>
<div class="info-box" ng-click="redirect('#/shoppings')">
	<span class="info-box-icon bg-blue"><i class="fa fa-shopping-bag"></i></span>
	<div class="info-box-content">
	  <span class="info-box-text"><b>Shoppings</b></span>
	  <p>Shoppings da cidade do Recife com as suas devidas localizações e informações.</p>
	</div>
</div>
<div class="info-box" ng-click="redirect('#/mercados')">
	<span class="info-box-icon bg-green"><i class="fa fa-shopping-cart"></i></span>
	<div class="info-box-content">
	  <span class="info-box-text"><b>Mercados</b></span>
	  <p>Mercados Públicos da cidade de Recife com suas informações, descrições e localizações.</p>
	</div>
</div>
<div class="info-box" ng-click="redirect('#/feiras')">
	<span class="info-box-icon bg-yellow"><i class="fa fa-shopping-basket"></i></span>
	<div class="info-box-content">
	  <span class="info-box-text"><b>Feiras</b></span>
	  <p>Feiras com suas localizações e horário que ocorrem.</p>
	</div>
</div>
<div class="info-box" ng-click="redirect('#/teatros')">
	<span class="info-box-icon bg-purple"><i class="fa fa-building"></i></span>
	<div class="info-box-content">
	  <span class="info-box-text"><b>Teatros</b></span>
	  <p>Teatros com suas localizações e descrições.</p>
	</div>
</div>
<div class="info-box" ng-click="redirect('#/pontes')">
	<span class="info-box-icon bg-aqua"><i class="fa fa-map"></i></span>
	<div class="info-box-content">
	  <span class="info-box-text"><b>Pontes</b></span>
	  <p>Informações sobre as famosas pontes da cidade de Recife com suas localizações e descrições.</p>
	</div>
</div>
