<div class="box box-widget">
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <h3>{{nomeMuseu}}</h3>
        <p>{{descricao}}</p>
        <p><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i> &nbsp;{{localizacao}} - {{bairro}}</p>
        <p><i class="fa fa-globe" aria-hidden="true"></i> &nbsp;{{site}}</p>
        <p><i class="fa fa-phone fa-lg" aria-hidden="true"></i> &nbsp;{{telefone}}</p>
      </div>
    </div>
  </div>
</div>

<div class="box box-widget">
    <div class="box-header">
      <h3 class="box-title">Comentários</h3>
    </div>

    <div class="box-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Nome</label>
        <input ng-model="nome" type="text" class="form-control" id="exampleInputEmail1" placeholder="Preencha o seu nome">
      </div>
      <div class="form-group">
        <label>Comentário</label>
        <textarea ng-model="comentario" class="form-control" rows="3" style="resize: none" placeholder="Digite seu comentário ..."></textarea>
      </div>
      <div class="form-group">
         <button ng-click="enviar()" type="submit" class="btn btn-primary btn-sm" style="width: 100%;">Enviar</button>
      </div>
    </div>

    <div class="box-footer box-comments">
      <div class="box-comment" ng-repeat = "c in comentarios">
          <img class="img-circle img-sm" src="app/images/user.png" alt="User Image">
          <div class="comment-text">
                <span class="username">
                  {{c.nomeDaPessoa}}
                  <span class="text-muted pull-right">07/02/2017 8:03</span>
                </span><!-- /.username -->
            {{c.comentario}}
          </div>
      </div>
    </div>
</div>
