<div class="box box-primary">
	<div class="box-header">
		<h3 class="box-title">Shoppings</h3>
	</div>
	<div class="box-body">
		<ui-gmap-google-map center='map.center' zoom='map.zoom'  refresh="true">
			<ui-gmap-markers models="pontosShoppings" coords="'self'" icon="'icon'" click="onClick(info)">
				 <ui-gmap-windows show="show">
			    	<div ng-non-bindable>
			    		<p>{{nome}}</p><br>
			    		<p>Bairro: {{bairro}}</p><br>
			    	</div>
				</ui-gmap-windows>
			</ui-gmap-markers>
		</ui-gmap-google-map>
		<hr>
		<div class="row">
			<div class="col-sm-12">
				<h3 class="box-title">{{nomeShopping}}</h3>
				<p>{{descricao}}</p>
				<button ng-click="maisInformacoes()" type="button" class="btn btn-block btn-info btn-xs" ng-if="isShoppingSelected">Mais informações...</button>
			</div>
		</div>
	</div>
</div>